/* Example in src/components/About.css */
.about {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
  }
  
  .candy-crush-container {
    margin-top: 20px; /* Adjust margin as needed */
    display: flex;
    justify-content: center;
  }
  
  .candy-crush-animation {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* Adjust grid columns as needed */
    grid-gap: 10px; /* Adjust grid gap as needed */
  }
  
  .block {
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .red {
    background-color: #f00; /* Red color */
  }
  
  .blue {
    background-color: #00f; /* Blue color */
  }
  
  .green {
    background-color: #0f0; /* Green color */
  }
  